@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

.clip-cone {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.lightbox {
    aspect-ratio: 2/1;
    rotate: 180deg;
    background: conic-gradient(
        from -30deg at bottom,
        #0000,
        #62484894 1deg 60deg,
        #0000 61deg
    );
    mask: linear-gradient(#0000, #000);
    z-index: -10;
}

input {
    color: var(--background);
}

body {
    margin: 0;
    padding: 0;
}
.bg-reg {
    background: url("https://res.cloudinary.com/dmvdbpyqk/image/upload/v1736533824/bg-moon_vrzugt.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.input-field {
    @apply font-Spirits w-full px-4 py-3 rounded-lg bg-[#003955]/10
    text-xl text-[#003955] placeholder-gray-500 border border-[#fff]/30 focus:outline-none focus:border-[#003955] focus:ring-1 focus:ring-[#003955] transition backdrop-blur-md focus:brightness-110;
}
